### Open Flights Data Wrangling

To practice, you are going to wrangle data from OpenFlights.  You can read about it here: 

http://openflights.org/data.html

This includes three main files, one for each airport, one for each airline, and one for each route.  They can be merged or joined with the appropriate fields.  I have modified the files slightly to include a header row in the .dat files, which makes it a bit easier for you.  

You are required to work through the problems below.  This may take some time.  Be persistent, and ask questions or seek help as needed.

In [1]:
import pandas as pd
import numpy as np

In [3]:
# These files use \N as a missing value indicator.  When reading the CSVs, we will tell
# it to use that value as missing or NA.  The double backslash is required because
# otherwise it will interpret \N as a carriage return. 

# Read in the airports data.
airports = pd.read_csv("data/airports.dat", header=None, na_values='\\N')
airports.columns = ["id", "name", "city", "country", "iata", "icao", "latitude", "longitude", "altitude","timezone", "dst", "tz", "type", "source"]

# Read in the airlines data.
airlines = pd.read_csv("data/airlines.dat", header=None, na_values='\\N')
airlines.columns = ["id", "name", "alias", "iata", "icao", "callsign", "country", "active"]

# Read in the routes data.
routes = pd.read_csv("data/routes.dat", header=None, na_values='\\N')
routes.columns = ["airline", "airline_id", "source", "source_id", "dest", "dest_id", "codeshare", "stops", "equipment"]

1) Start by seeing what's in the data.  What columns are there?  What data types are the columns?  

Remember, 'object' means it is a string, while the numerical values can be floats or ints.  Sometimes you will have problems if it reads numeric data in as strings.  If that happens, you can use the function .astype() to convert it.  Look it up in the pandas API to get more details

In [21]:
airlines

,id,name,alias,iata,icao,callsign,country,active
0,-1,Unknown,NaN,-,NaN,NaN,NaN,Y
1,1,Private flight,NaN,-,NaN,NaN,NaN,Y
2,2,135 Airways,NaN,NaN,GNL,GENERAL,United States,N
3,3,1Time Airline,NaN,1T,RNX,NEXTIME,South Africa,Y
4,4,2 Sqn No 1 Elementary Flying Training School,NaN,NaN,WYT,NaN,United Kingdom,N
5,5,213 Flight Unit,NaN,NaN,TFU,NaN,Russia,N
6,6,223 Flight Unit State Airline,NaN,NaN,CHD,CHKALOVSK-AVIA,Russia,N
7,7,224th Flight Unit,NaN,NaN,TTF,CARGO UNIT,Russia,N
8,8,247 Jet Ltd,NaN,NaN,TWF,CLOUD RUNNER,United Kingdom,N
9,9,3D Aviation,NaN,NaN,SEC,SECUREX,United States,N
10,10,40-Mile Air,NaN,Q5,MLA,MILE-AIR,United States,Y
11,11,4D Air,NaN,NaN,QRT,QUARTET,Thailand,N
12,12,611897 Alberta Limited,NaN,NaN,THD,DONUT,Canada,N
13,13,Ansett Australia,NaN,AN,AAA,ANSETT,Australia,Y
14,14,Abacus International,NaN,1B,NaN,NaN,Singapore,Y
15,15,Abelag Aviation,NaN,W9,AAB,ABG,Belgium,N
16,16,Army Air Corps,NaN,NaN,AAC,ARMYAIR,United Kingdom,N
17,17,Aero Aviation Centre Ltd.,NaN,NaN,AAD,SUNRISE,Canada,N
18,18,Aero Servicios Ejecutivos Internacionales,NaN,NaN,SII,ASEISA,Mexico,N
19,19,Aero Biniza,NaN,NaN,BZS,BINIZA,Mexico,N
20,20,Aero Albatros,NaN,NaN,ABM,ALBATROS ESPANA,Spain,N
21,21,Aigle Azur,NaN,ZI,AAF,AIGLE AZUR,France,Y
22,22,Aloha Airlines,NaN,AQ,AAH,ALOHA,United States,Y
23,23,Alaska Island Air,NaN,NaN,AAK,ALASKA ISLAND,United States,N
24,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y
25,25,Aviation Management Corporation,NaN,NaN,AAM,AM CORP,United States,N
26,26,Atlantis Airlines (USA),NaN,NaN,AAO,ATLANTIS AIR,United States,N
27,27,Aerovista Airlines,NaN,NaN,AAP,AEROVISTA GROUP,United Arab Emirates,N
28,28,Asiana Airlines,NaN,OZ,AAR,ASIANA,Republic of Korea,Y
29,29,Askari Aviation,NaN,4K,AAS,AL-AAS,Pakistan,Y
...,...,...,...,...,...,...,...,...
6132,20827,Fly France,Fly France,FF,FRF,NaN,France,Y
6133,20875,Jota Aviation,NaN,NaN,ENZ,ENZO,United Kingdom,Y
6134,20881,Europe Jet,Europe Jet,EX,EU9,NaN,France,Y
6135,20923,COBALT,COBALT,NaN,FCB,COBALT,Cyprus,Y
6136,20931,Southern Airways Express,Sun Air Express,NaN,LTD,LIGHTSPEED,United States,Y
6137,20961,Deutsche Luftverkehrsgesellschaft (DLT),NaN,DW,DWD,NaN,Germany,N
6138,20962,Orenburzhie,NaN,NaN,ORG,NaN,Russia,Y
6139,20963,Atlantic Air Cargo,NaN,K3,NaN,NaN,United States,N
6140,20976,World Scale Airlines,World Scale,W3,WSS,NaN,United States,Y
6141,20978,All America US,All America US,AG,SSA,NaN,United States,Y
6142,20986,University of Birmingham Air Squadron (RAF),8AEF RAF,NaN,UAY,UAY,United Kingdom,Y
6143,20991,Choice Airways,NaN,NaN,CSX,NaN,United States,Y
6144,20994,Aruba Airlines,NaN,NaN,ARU,NaN,Aruba,Y
6145,20995,BudgetAir,BudgetAir,1K,BG1,NaN,Germany,Y
6146,20996,Dynamic Airways,NaN,NaN,DYA,NaN,United States,Y
6147,21012,Fly One,Fly One,F5,FI5,NaN,Moldova,Y
6148,21021,Nordica,NaN,EE,NaN,REVAL,Estonia,Y
6149,21036,Tez Jet Airlines,NaN,NaN,TEZ,NaN,Kyrgyzstan,Y
6150,21043,Kush Air,NaN,NaN,KUH,NaN,South Sudan,Y
6151,21056,Dummy,NaN,0E,NaN,NaN,France,N
6152,21124,ViaAir,Charter Air Transport,NaN,SRY,Stingray,United States,Y
6153,21131,All America BOPY,All America BOPY,0P,PYB,BOPY,Paraguay,Y
6154,21179,Thai Vietjet Air,NaN,NaN,TVJ,THAIVIET JET,Thailand,Y
6155,21181,Air Andaman (2Y),NaN,2Y,AOW,AIR ANDAMAN,Thailand,N
6156,21240,TDA Toa Domestic Airlines,TDA,NaN,TDA,Toa Domes,Japan,N
6157,21248,GX Airlines,NaN,NaN,CBG,SPRAY,China,Y
6158,21251,Lynx Aviation (L3/SSX),NaN,NaN,SSX,Shasta,United States,N
6159,21268,Jetgo Australia,NaN,JG,NaN,NaN,Australia,Y
6160,21270,Air Carnival,NaN,2S,NaN,NaN,India,Y
6161,21317,Svyaz Rossiya,Russian Commuter,7R,SJM,RussianConnecty,Russia,Y

In [9]:
routes

,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment
0,2B,410.0,AER,2965.0,KZN,2990.0,NaN,0,CR2
1,2B,410.0,ASF,2966.0,KZN,2990.0,NaN,0,CR2
2,2B,410.0,ASF,2966.0,MRV,2962.0,NaN,0,CR2
3,2B,410.0,CEK,2968.0,KZN,2990.0,NaN,0,CR2
4,2B,410.0,CEK,2968.0,OVB,4078.0,NaN,0,CR2
5,2B,410.0,DME,4029.0,KZN,2990.0,NaN,0,CR2
6,2B,410.0,DME,4029.0,NBC,6969.0,NaN,0,CR2
7,2B,410.0,DME,4029.0,TGK,NaN,NaN,0,CR2
8,2B,410.0,DME,4029.0,UUA,6160.0,NaN,0,CR2
9,2B,410.0,EGO,6156.0,KGD,2952.0,NaN,0,CR2
10,2B,410.0,EGO,6156.0,KZN,2990.0,NaN,0,CR2
11,2B,410.0,GYD,2922.0,NBC,6969.0,NaN,0,CR2
12,2B,410.0,KGD,2952.0,EGO,6156.0,NaN,0,CR2
13,2B,410.0,KZN,2990.0,AER,2965.0,NaN,0,CR2
14,2B,410.0,KZN,2990.0,ASF,2966.0,NaN,0,CR2
15,2B,410.0,KZN,2990.0,CEK,2968.0,NaN,0,CR2
16,2B,410.0,KZN,2990.0,DME,4029.0,NaN,0,CR2
17,2B,410.0,KZN,2990.0,EGO,6156.0,NaN,0,CR2
18,2B,410.0,KZN,2990.0,LED,2948.0,NaN,0,CR2
19,2B,410.0,KZN,2990.0,SVX,2975.0,NaN,0,CR2
20,2B,410.0,LED,2948.0,KZN,2990.0,NaN,0,CR2
21,2B,410.0,LED,2948.0,NBC,6969.0,NaN,0,CR2
22,2B,410.0,LED,2948.0,UUA,6160.0,NaN,0,CR2
23,2B,410.0,MRV,2962.0,ASF,2966.0,NaN,0,CR2
24,2B,410.0,NBC,6969.0,DME,4029.0,NaN,0,CR2
25,2B,410.0,NBC,6969.0,GYD,2922.0,NaN,0,CR2
26,2B,410.0,NBC,6969.0,LED,2948.0,NaN,0,CR2
27,2B,410.0,NBC,6969.0,SVX,2975.0,NaN,0,CR2
28,2B,410.0,NJC,2972.0,SVX,2975.0,NaN,0,CR2
29,2B,410.0,NJC,2972.0,UUA,6160.0,NaN,0,CR2
...,...,...,...,...,...,...,...,...,...
67633,ZL,4178.0,SYD,3361.0,ABX,3333.0,NaN,0,SF3
67634,ZL,4178.0,SYD,3361.0,ARM,4062.0,NaN,0,SF3
67635,ZL,4178.0,SYD,3361.0,BHQ,6241.0,NaN,0,SF3
67636,ZL,4178.0,SYD,3361.0,BHS,6249.0,NaN,0,SF3
67637,ZL,4178.0,SYD,3361.0,BNK,4291.0,NaN,0,SF3
67638,ZL,4178.0,SYD,3361.0,DBO,3358.0,NaN,0,SF3
67639,ZL,4178.0,SYD,3361.0,GFF,6271.0,NaN,0,SF3
67640,ZL,4178.0,SYD,3361.0,LSY,6287.0,NaN,0,SF3
67641,ZL,4178.0,SYD,3361.0,MIM,6294.0,NaN,0,SF3
67642,ZL,4178.0,SYD,3361.0,MQL,6298.0,NaN,0,SF3
67643,ZL,4178.0,SYD,3361.0,MYA,6302.0,NaN,0,SF3
67644,ZL,4178.0,SYD,3361.0,NRA,6307.0,NaN,0,SF3
67645,ZL,4178.0,SYD,3361.0,NTL,4320.0,NaN,0,SF3
67646,ZL,4178.0,SYD,3361.0,OAG,6793.0,NaN,0,SF3
67647,ZL,4178.0,SYD,3361.0,PKE,6317.0,NaN,0,SF3
67648,ZL,4178.0,SYD,3361.0,TRO,6794.0,NaN,0,SF3
67649,ZL,4178.0,SYD,3361.0,WGA,3363.0,NaN,0,SF3
67650,ZL,4178.0,TRO,6794.0,GFN,6792.0,NaN,0,SF3
67651,ZL,4178.0,TRO,6794.0,SYD,3361.0,NaN,0,SF3
67652,ZL,4178.0,TSV,3330.0,ISA,3324.0,NaN,0,SF3
67653,ZL,4178.0,TSV,3330.0,WIN,6337.0,NaN,0,SF3
67654,ZL,4178.0,WGA,3363.0,MEL,3339.0,NaN,0,SF3
67655,ZL,4178.0,WGA,3363.0,SYD,3361.0,NaN,0,SF3
67656,ZL,4178.0,WIN,6337.0,LRE,6289.0,NaN,0,SF3
67657,ZL,4178.0,WIN,6337.0,TSV,3330.0,NaN,0,SF3
67658,ZL,4178.0,WYA,6334.0,ADL,3341.0,NaN,0,SF3
67659,ZM,19016.0,DME,4029.0,FRU,2912.0,NaN,0,734
67660,ZM,19016.0,FRU,2912.0,DME,4029.0,NaN,0,734
67661,ZM,19016.0,FRU,2912.0,OSS,2913.0,NaN,0,734
67662,ZM,19016.0,OSS,2913.0,FRU,2912.0,NaN,0,734

In [6]:
airlines.head()

,id,name,alias,iata,icao,callsign,country,active
0,-1,Unknown,NaN,-,NaN,NaN,NaN,Y
1,1,Private flight,NaN,-,NaN,NaN,NaN,Y
2,2,135 Airways,NaN,NaN,GNL,GENERAL,United States,N
3,3,1Time Airline,NaN,1T,RNX,NEXTIME,South Africa,Y
4,4,2 Sqn No 1 Elementary Flying Training School,NaN,NaN,WYT,NaN,United Kingdom,N

2) Select just the routes that go to or from Lexington Bluegrass Airport, and store them in their own dataframe.  

The airport code is LEX.  You should have a much smaller dataframe.  How many inbound routes and how many outbound routes are there?

In [4]:
df_src_LEX=routes[routes['source']=='LEX']
#df_src_LEX
df_dest_LEX=routes[routes['dest']=='LEX']
#df_dest_LEX
df_LEX=pd.concat([df_src_LEX,df_dest_LEX])
df_LEX

,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment
3588,9E,3976.0,LEX,4017.0,ATL,3682.0,NaN,0,CRJ
5763,AA,24.0,LEX,4017.0,CLT,3876.0,Y,0,CR7 CRJ
5764,AA,24.0,LEX,4017.0,DFW,3670.0,Y,0,ERD ER4
5765,AA,24.0,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4
9641,AF,137.0,LEX,4017.0,ATL,3682.0,Y,0,CRJ CR9
21095,DL,2009.0,LEX,4017.0,ATL,3682.0,NaN,0,M88 717
21096,DL,2009.0,LEX,4017.0,DCA,3520.0,Y,0,CRJ
21097,DL,2009.0,LEX,4017.0,DTW,3645.0,Y,0,CR7 CRJ CR9
21098,DL,2009.0,LEX,4017.0,LGA,3697.0,NaN,0,ERJ
21099,DL,2009.0,LEX,4017.0,MSP,3858.0,Y,0,CRJ
29047,G4,35.0,LEX,4017.0,FLL,3533.0,NaN,0,M80
29048,G4,35.0,LEX,4017.0,PGD,7056.0,NaN,0,M80
29049,G4,35.0,LEX,4017.0,PIE,3617.0,NaN,0,320
29050,G4,35.0,LEX,4017.0,SFB,4167.0,NaN,0,M80 320
36746,KL,3090.0,LEX,4017.0,ATL,3682.0,Y,0,CR9 CRJ
57029,UA,5209.0,LEX,4017.0,IAH,3550.0,Y,0,ERJ
57030,UA,5209.0,LEX,4017.0,ORD,3830.0,Y,0,ERJ CRJ
59544,US,5265.0,LEX,4017.0,CLT,3876.0,NaN,0,CR7
59545,US,5265.0,LEX,4017.0,DFW,3670.0,NaN,0,ERD
59546,US,5265.0,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4
3569,9E,3976.0,ATL,3682.0,LEX,4017.0,NaN,0,CRJ
4953,AA,24.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7
5247,AA,24.0,DFW,3670.0,LEX,4017.0,Y,0,ERD ER4
6283,AA,24.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4
9097,AF,137.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ 717
20164,DL,2009.0,ATL,3682.0,LEX,4017.0,NaN,0,M88 717
20534,DL,2009.0,DCA,3520.0,LEX,4017.0,Y,0,CRJ
20638,DL,2009.0,DTW,3645.0,LEX,4017.0,NaN,0,717
21131,DL,2009.0,LGA,3697.0,LEX,4017.0,Y,0,ERJ
21402,DL,2009.0,MSP,3858.0,LEX,4017.0,Y,0,CRJ
28951,G4,35.0,FLL,3533.0,LEX,4017.0,NaN,0,M80
29090,G4,35.0,PGD,7056.0,LEX,4017.0,NaN,0,M80
29120,G4,35.0,PIE,3617.0,LEX,4017.0,NaN,0,320
29187,G4,35.0,SFB,4167.0,LEX,4017.0,NaN,0,M80 320
36396,KL,3090.0,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ
56775,UA,5209.0,IAH,3550.0,LEX,4017.0,Y,0,ERJ
57322,UA,5209.0,ORD,3830.0,LEX,4017.0,Y,0,ERJ CRJ
58812,US,5265.0,CLT,3876.0,LEX,4017.0,NaN,0,CR7
59096,US,5265.0,DFW,3670.0,LEX,4017.0,NaN,0,ERD
59924,US,5265.0,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4

In [18]:
print ("number of outbound routes",len(df_src_LEX))

number of outbound routes 20

In [19]:
print ("number of inbound routes",len(df_dest_LEX))

number of inbound routes 20

3) Now let's look at which airlines operate in and out of Lexington.  To do this, you need to merge the airline dataframe to the route dataframe.  

How many routes does each airline have?  The value_counts() method may be useful for answering this question.

In [5]:
df_operation = pd.merge(df_LEX, airlines, how= 'left', left_on ='airline_id', right_on='id') #since id is the airline id in airlines dataframe, left_on and right_on ensures the match
df_operation

,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment,id,name,alias,iata,icao,callsign,country,active
0,9E,3976,LEX,4017.0,ATL,3682.0,NaN,0,CRJ,3976,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y
1,AA,24,LEX,4017.0,CLT,3876.0,Y,0,CR7 CRJ,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y
2,AA,24,LEX,4017.0,DFW,3670.0,Y,0,ERD ER4,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y
3,AA,24,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y
4,AF,137,LEX,4017.0,ATL,3682.0,Y,0,CRJ CR9,137,Air France,NaN,AF,AFR,AIRFRANS,France,Y
5,DL,2009,LEX,4017.0,ATL,3682.0,NaN,0,M88 717,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y
6,DL,2009,LEX,4017.0,DCA,3520.0,Y,0,CRJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y
7,DL,2009,LEX,4017.0,DTW,3645.0,Y,0,CR7 CRJ CR9,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y
8,DL,2009,LEX,4017.0,LGA,3697.0,NaN,0,ERJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y
9,DL,2009,LEX,4017.0,MSP,3858.0,Y,0,CRJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y
10,G4,35,LEX,4017.0,FLL,3533.0,NaN,0,M80,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y
11,G4,35,LEX,4017.0,PGD,7056.0,NaN,0,M80,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y
12,G4,35,LEX,4017.0,PIE,3617.0,NaN,0,320,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y
13,G4,35,LEX,4017.0,SFB,4167.0,NaN,0,M80 320,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y
14,KL,3090,LEX,4017.0,ATL,3682.0,Y,0,CR9 CRJ,3090,KLM Royal Dutch Airlines,NaN,KL,KLM,KLM,Netherlands,Y
15,UA,5209,LEX,4017.0,IAH,3550.0,Y,0,ERJ,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y
16,UA,5209,LEX,4017.0,ORD,3830.0,Y,0,ERJ CRJ,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y
17,US,5265,LEX,4017.0,CLT,3876.0,NaN,0,CR7,5265,US Airways,NaN,US,USA,U S AIR,United States,Y
18,US,5265,LEX,4017.0,DFW,3670.0,NaN,0,ERD,5265,US Airways,NaN,US,USA,U S AIR,United States,Y
19,US,5265,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4,5265,US Airways,NaN,US,USA,U S AIR,United States,Y
20,9E,3976,ATL,3682.0,LEX,4017.0,NaN,0,CRJ,3976,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y
21,AA,24,CLT,3876.0,LEX,4017.0,NaN,0,CR7,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y
22,AA,24,DFW,3670.0,LEX,4017.0,Y,0,ERD ER4,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y
23,AA,24,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y
24,AF,137,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ 717,137,Air France,NaN,AF,AFR,AIRFRANS,France,Y
25,DL,2009,ATL,3682.0,LEX,4017.0,NaN,0,M88 717,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y
26,DL,2009,DCA,3520.0,LEX,4017.0,Y,0,CRJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y
27,DL,2009,DTW,3645.0,LEX,4017.0,NaN,0,717,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y
28,DL,2009,LGA,3697.0,LEX,4017.0,Y,0,ERJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y
29,DL,2009,MSP,3858.0,LEX,4017.0,Y,0,CRJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y
30,G4,35,FLL,3533.0,LEX,4017.0,NaN,0,M80,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y
31,G4,35,PGD,7056.0,LEX,4017.0,NaN,0,M80,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y
32,G4,35,PIE,3617.0,LEX,4017.0,NaN,0,320,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y
33,G4,35,SFB,4167.0,LEX,4017.0,NaN,0,M80 320,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y
34,KL,3090,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ,3090,KLM Royal Dutch Airlines,NaN,KL,KLM,KLM,Netherlands,Y
35,UA,5209,IAH,3550.0,LEX,4017.0,Y,0,ERJ,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y
36,UA,5209,ORD,3830.0,LEX,4017.0,Y,0,ERJ CRJ,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y
37,US,5265,CLT,3876.0,LEX,4017.0,NaN,0,CR7,5265,US Airways,NaN,US,USA,U S AIR,United States,Y
38,US,5265,DFW,3670.0,LEX,4017.0,NaN,0,ERD,5265,US Airways,NaN,US,USA,U S AIR,United States,Y
39,US,5265,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4,5265,US Airways,NaN,US,USA,U S AIR,United States,Y

In [6]:
df_operation['name'].value_counts() #counting the number of times each airline appear

Delta Air Lines             10
Allegiant Air                8
US Airways                   6
American Airlines            6
United Airlines              4
Pinnacle Airlines            2
Air France                   2
KLM Royal Dutch Airlines     2
Name: name, dtype: int64

In [25]:
np.where?

4) It looks like there are some international airlines with Lexington routes.  To look at how many routes they have, create a new column in your dataframe called 'International', which is set to Y for an overseas airline and N for a domestic airline.  Calculate the percent of routes with an overseas airline.

In [7]:
df_operation['international']=np.where(df_operation['country'] != 'United States','Y','N')
df_operation

,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment,id,name,alias,iata,icao,callsign,country,active,international
0,9E,3976,LEX,4017.0,ATL,3682.0,NaN,0,CRJ,3976,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y,N
1,AA,24,LEX,4017.0,CLT,3876.0,Y,0,CR7 CRJ,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
2,AA,24,LEX,4017.0,DFW,3670.0,Y,0,ERD ER4,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
3,AA,24,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
4,AF,137,LEX,4017.0,ATL,3682.0,Y,0,CRJ CR9,137,Air France,NaN,AF,AFR,AIRFRANS,France,Y,Y
5,DL,2009,LEX,4017.0,ATL,3682.0,NaN,0,M88 717,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
6,DL,2009,LEX,4017.0,DCA,3520.0,Y,0,CRJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
7,DL,2009,LEX,4017.0,DTW,3645.0,Y,0,CR7 CRJ CR9,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
8,DL,2009,LEX,4017.0,LGA,3697.0,NaN,0,ERJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
9,DL,2009,LEX,4017.0,MSP,3858.0,Y,0,CRJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
10,G4,35,LEX,4017.0,FLL,3533.0,NaN,0,M80,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
11,G4,35,LEX,4017.0,PGD,7056.0,NaN,0,M80,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
12,G4,35,LEX,4017.0,PIE,3617.0,NaN,0,320,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
13,G4,35,LEX,4017.0,SFB,4167.0,NaN,0,M80 320,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
14,KL,3090,LEX,4017.0,ATL,3682.0,Y,0,CR9 CRJ,3090,KLM Royal Dutch Airlines,NaN,KL,KLM,KLM,Netherlands,Y,Y
15,UA,5209,LEX,4017.0,IAH,3550.0,Y,0,ERJ,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y,N
16,UA,5209,LEX,4017.0,ORD,3830.0,Y,0,ERJ CRJ,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y,N
17,US,5265,LEX,4017.0,CLT,3876.0,NaN,0,CR7,5265,US Airways,NaN,US,USA,U S AIR,United States,Y,N
18,US,5265,LEX,4017.0,DFW,3670.0,NaN,0,ERD,5265,US Airways,NaN,US,USA,U S AIR,United States,Y,N
19,US,5265,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4,5265,US Airways,NaN,US,USA,U S AIR,United States,Y,N
20,9E,3976,ATL,3682.0,LEX,4017.0,NaN,0,CRJ,3976,Pinnacle Airlines,NaN,9E,FLG,FLAGSHIP,United States,Y,N
21,AA,24,CLT,3876.0,LEX,4017.0,NaN,0,CR7,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
22,AA,24,DFW,3670.0,LEX,4017.0,Y,0,ERD ER4,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
23,AA,24,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
24,AF,137,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ 717,137,Air France,NaN,AF,AFR,AIRFRANS,France,Y,Y
25,DL,2009,ATL,3682.0,LEX,4017.0,NaN,0,M88 717,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
26,DL,2009,DCA,3520.0,LEX,4017.0,Y,0,CRJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
27,DL,2009,DTW,3645.0,LEX,4017.0,NaN,0,717,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
28,DL,2009,LGA,3697.0,LEX,4017.0,Y,0,ERJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
29,DL,2009,MSP,3858.0,LEX,4017.0,Y,0,CRJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
30,G4,35,FLL,3533.0,LEX,4017.0,NaN,0,M80,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
31,G4,35,PGD,7056.0,LEX,4017.0,NaN,0,M80,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
32,G4,35,PIE,3617.0,LEX,4017.0,NaN,0,320,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
33,G4,35,SFB,4167.0,LEX,4017.0,NaN,0,M80 320,35,Allegiant Air,NaN,G4,AAY,ALLEGIANT,United States,Y,N
34,KL,3090,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ,3090,KLM Royal Dutch Airlines,NaN,KL,KLM,KLM,Netherlands,Y,Y
35,UA,5209,IAH,3550.0,LEX,4017.0,Y,0,ERJ,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y,N
36,UA,5209,ORD,3830.0,LEX,4017.0,Y,0,ERJ CRJ,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y,N
37,US,5265,CLT,3876.0,LEX,4017.0,NaN,0,CR7,5265,US Airways,NaN,US,USA,U S AIR,United States,Y,N
38,US,5265,DFW,3670.0,LEX,4017.0,NaN,0,ERD,5265,US Airways,NaN,US,USA,U S AIR,United States,Y,N
39,US,5265,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4,5265,US Airways,NaN,US,USA,U S AIR,United States,Y,N

In [31]:
x=len(df_operation[df_operation['international']=='Y'])
pc_int=x/len(df_operation)*100
print ("international flight percentage", pc_int, '%')

international flight percentage 10.0 %

In [8]:
len(df_operation)

40

5) Actually, it looks like a bunch of these routes are codeshares.  That means they are marketed by this airline, but operated by a different airline.  See the note in the data documentation on openflights.org/data.  The implication of this is that there are duplicates.

Can you figure out which ones are duplicates?  Can you then create a dataframe with only the unique routes?  How many unique inbound and outbound routes are there? 

Remember, someone has to operate the flight, so if all the routes to/from a particular airport are listed as codeshares, then something is funny...

It is also possible that more than one airline actually operates a route between the same two airports. (Having this sort of competition generally means that you will get better fares as a traveler.)  It may not be obvious what is actually in the data set, so dig or do external research as needed.

In [38]:
df_operation.drop_duplicates?

In [13]:
#fliter out all the codeshared flights
df_codeshared=df_operation[df_operation['codeshare']=='Y']
#df_codeshared
#if two rows are similar, delete?
df_nd=df_codeshared.drop_duplicates(subset=['source','dest', 'name'], keep='first')
df_nd

,airline,airline_id,source,source_id,dest,dest_id,codeshare,stops,equipment,id,name,alias,iata,icao,callsign,country,active,international
1,AA,24,LEX,4017.0,CLT,3876.0,Y,0,CR7 CRJ,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
2,AA,24,LEX,4017.0,DFW,3670.0,Y,0,ERD ER4,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
3,AA,24,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
4,AF,137,LEX,4017.0,ATL,3682.0,Y,0,CRJ CR9,137,Air France,NaN,AF,AFR,AIRFRANS,France,Y,Y
6,DL,2009,LEX,4017.0,DCA,3520.0,Y,0,CRJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
7,DL,2009,LEX,4017.0,DTW,3645.0,Y,0,CR7 CRJ CR9,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
9,DL,2009,LEX,4017.0,MSP,3858.0,Y,0,CRJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
14,KL,3090,LEX,4017.0,ATL,3682.0,Y,0,CR9 CRJ,3090,KLM Royal Dutch Airlines,NaN,KL,KLM,KLM,Netherlands,Y,Y
15,UA,5209,LEX,4017.0,IAH,3550.0,Y,0,ERJ,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y,N
16,UA,5209,LEX,4017.0,ORD,3830.0,Y,0,ERJ CRJ,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y,N
19,US,5265,LEX,4017.0,ORD,3830.0,Y,0,ERD ER4,5265,US Airways,NaN,US,USA,U S AIR,United States,Y,N
22,AA,24,DFW,3670.0,LEX,4017.0,Y,0,ERD ER4,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
23,AA,24,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4,24,American Airlines,NaN,AA,AAL,AMERICAN,United States,Y,N
24,AF,137,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ 717,137,Air France,NaN,AF,AFR,AIRFRANS,France,Y,Y
26,DL,2009,DCA,3520.0,LEX,4017.0,Y,0,CRJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
28,DL,2009,LGA,3697.0,LEX,4017.0,Y,0,ERJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
29,DL,2009,MSP,3858.0,LEX,4017.0,Y,0,CRJ,2009,Delta Air Lines,NaN,DL,DAL,DELTA,United States,Y,N
34,KL,3090,ATL,3682.0,LEX,4017.0,Y,0,CR9 M88 CRJ,3090,KLM Royal Dutch Airlines,NaN,KL,KLM,KLM,Netherlands,Y,Y
35,UA,5209,IAH,3550.0,LEX,4017.0,Y,0,ERJ,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y,N
36,UA,5209,ORD,3830.0,LEX,4017.0,Y,0,ERJ CRJ,5209,United Airlines,NaN,UA,UAL,UNITED,United States,Y,N
39,US,5265,ORD,3830.0,LEX,4017.0,Y,0,ERD ER4,5265,US Airways,NaN,US,USA,U S AIR,United States,Y,N

In [12]:
len(df_nd)

21