# Example: CitiBike data

Adapted from Kelsey Jordahl
https://gist.github.com/kjordahl/5957573

In [1]:
import requests  
import json
from pyproj import Proj
from shapely.geometry import Point
import geopandas as gp

NYC borough boundaries downloaded from [Bytes of the Big Apple](http://www.nyc.gov/html/dcp/download/bytes/nybb_13a.zip)

In [2]:
boros = gp.GeoDataFrame.from_file('nybb_15b/nybb.shp')

Load real time bike station data from [CitiBike](http://citibikenyc.com) json API:

In [3]:
# get the bike data and convert it to a ditcionary
endpoint_url = 'http://citibikenyc.com/stations/json'
response = requests.get(endpoint_url)
data = json.loads(response.text)

In [4]:
# convert the relevant part to a geodataframe
df = gp.GeoDataFrame(data['stationBeanList'])
df.head()

,altitude,availableBikes,availableDocks,city,id,landMark,lastCommunicationTime,latitude,location,longitude,postalCode,stAddress1,stAddress2,stationName,statusKey,statusValue,testStation,totalDocks
0,,7,32,,72,,2018-02-20 11:27:53 AM,40.767272,,-73.993929,,W 52 St & 11 Ave,,W 52 St & 11 Ave,1,In Service,False,39
1,,30,3,,79,,2018-02-20 11:30:46 AM,40.719116,,-74.006667,,Franklin St & W Broadway,,Franklin St & W Broadway,1,In Service,False,33
2,,15,12,,82,,2018-02-20 11:29:38 AM,40.711174,,-74.000165,,St James Pl & Pearl St,,St James Pl & Pearl St,1,In Service,False,27
3,,22,38,,83,,2018-02-20 11:30:20 AM,40.683826,,-73.976323,,Atlantic Ave & Fort Greene Pl,,Atlantic Ave & Fort Greene Pl,1,In Service,False,62
4,,14,5,,119,,2018-02-20 11:29:06 AM,40.696089,,-73.978034,,Park Ave & St Edwards St,,Park Ave & St Edwards St,1,In Service,False,19

In [5]:
# there is one row for each bike station.  How many stations are there? 
len(df)

813

In [7]:
# in the file above, there are lon-lats, but no geometry field
# we need to set that up

s = gp.GeoSeries([Point(x, y) for x, y in zip(df['longitude'], df['latitude'])])
df['geometry'] = s
df.crs = {'init': 'epsg:4326', 'no_defs': True}
df.geometry.total_bounds

array([-74.0969366 ,  40.65539977, -73.9077436 ,  40.81439444])

In [8]:
# make sure they are on the same CRS.  
# checking the bounds is a nice way of seeing this
df.to_crs(boros.crs, inplace=True)
df.geometry.total_bounds

array([  957370.14732176,   178056.37414829,  1009803.53178432,
         235986.42166716])

In [10]:
# the geometry objects can do lots of cool stuff.  For example: 

manhattan = boros.geometry[3]
in_mn = df.geometry.within(manhattan)
print(sum(in_mn), 'stations in Manhattan')

414 stations in Manhattan

# Your turn

You can read about the range of operations available in geopandas here: 
    
http://geopandas.org/index.html

Your assignment is to: 

1. Calculate how many stations are in each borough
2. Calculate how many bikes are currently available in each borough
3. Read about and try at least two new spatial or geometric operations (beyond what I've covered here).

In [9]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gp
from shapely.geometry import Point
import pandas as pd

In [10]:
boros = gp.read_file('nybb_15b/nybb.shp')
boros

,BoroCode,BoroName,Shape_Leng,Shape_Area,geometry
0,5,Staten Island,330466.075042,1.623827e+09,(POLYGON ((970217.0223999023 145643.3322143555...
1,3,Brooklyn,741185.900596,1.937597e+09,(POLYGON ((1021176.479003906 151374.7969970703...
2,4,Queens,897040.298576,3.045168e+09,(POLYGON ((1029606.076599121 156073.8142089844...
3,1,Manhattan,358408.460709,6.364467e+08,(POLYGON ((981219.0557861328 188655.3157958984...
4,2,Bronx,464400.198868,1.186973e+09,(POLYGON ((1012821.805786133 229228.2645874023...

In [11]:
# set the index to be the name of the borough, and sort in order of the borough code
boros.reset_index(inplace=True)
boros.set_index('BoroName', inplace=True)
boros.sort_values(by='BoroCode', inplace=True)
boros

,index,BoroCode,Shape_Leng,Shape_Area,geometry
BoroName,,,,,
Manhattan,3,1,358408.460709,6.364467e+08,(POLYGON ((981219.0557861328 188655.3157958984...
Bronx,4,2,464400.198868,1.186973e+09,(POLYGON ((1012821.805786133 229228.2645874023...
Brooklyn,1,3,741185.900596,1.937597e+09,(POLYGON ((1021176.479003906 151374.7969970703...
Queens,2,4,897040.298576,3.045168e+09,(POLYGON ((1029606.076599121 156073.8142089844...
Staten Island,0,5,330466.075042,1.623827e+09,(POLYGON ((970217.0223999023 145643.3322143555...

In [20]:
station_mn = df.geometry.within(boros.geometry[0])
station_brnx = df.geometry.within(boros.geometry[1])
station_queens = df.geometry.within(boros.geometry[3])
station_sttn = df.geometry.within(boros.geometry[4])
station_brkln = df.geometry.within(boros.geometry[2])

print(sum(station_sttn),"stations in staten island",sum(station_mn),"in manhattan",sum(station_brnx),"in bronx",sum(station_brkln),"in brooklyn")

0 stations in staten island 414 in manhattan 0 in bronx 266 in brooklyn

In [21]:
df

,altitude,availableBikes,availableDocks,city,id,landMark,lastCommunicationTime,latitude,location,longitude,postalCode,stAddress1,stAddress2,stationName,statusKey,statusValue,testStation,totalDocks,geometry
0,,7,32,,72,,2018-02-20 11:27:53 AM,40.767272,,-73.993929,,W 52 St & 11 Ave,,W 52 St & 11 Ave,1,In Service,False,39,POINT (985931.706502895 218814.7571059909)
1,,30,3,,79,,2018-02-20 11:30:46 AM,40.719116,,-74.006667,,Franklin St & W Broadway,,Franklin St & W Broadway,1,In Service,False,33,POINT (982402.0068864136 201269.770346975)
2,,15,12,,82,,2018-02-20 11:29:38 AM,40.711174,,-74.000165,,St James Pl & Pearl St,,St James Pl & Pearl St,1,In Service,False,27,POINT (984204.131576321 198376.4207269395)
3,,22,38,,83,,2018-02-20 11:30:20 AM,40.683826,,-73.976323,,Atlantic Ave & Fort Greene Pl,,Atlantic Ave & Fort Greene Pl,1,In Service,False,62,POINT (990816.693171227 188413.5778061197)
4,,14,5,,119,,2018-02-20 11:29:06 AM,40.696089,,-73.978034,,Park Ave & St Edwards St,,Park Ave & St Edwards St,1,In Service,False,19,POINT (990341.0662772973 192881.3587593974)
5,,0,17,,120,,2018-02-20 11:28:02 AM,40.686768,,-73.959282,,Lexington Ave & Classon Ave,,Lexington Ave & Classon Ave,1,In Service,False,19,POINT (995542.6499674907 189487.130991468)
6,,24,6,,127,,2018-02-20 11:28:30 AM,40.731724,,-74.006744,,Barrow St & Hudson St,,Barrow St & Hudson St,1,In Service,False,31,POINT (982380.8081703536 205863.5336667247)
7,,29,0,,128,,2018-02-20 11:30:06 AM,40.727103,,-74.002971,,MacDougal St & Prince St,,MacDougal St & Prince St,1,In Service,False,30,POINT (983426.5668231644 204179.6463416795)
8,,14,10,,143,,2018-02-20 11:29:52 AM,40.692395,,-73.993379,,Clinton St & Joralemon St,,Clinton St & Joralemon St,1,In Service,False,24,POINT (986086.0608250959 191534.6892925949)
9,,14,5,,144,,2018-02-20 11:28:23 AM,40.698399,,-73.980689,,Nassau St & Navy St,,Nassau St & Navy St,1,In Service,False,19,POINT (989604.659795354 193722.6190909547)
10,,26,13,,146,,2018-02-20 11:30:08 AM,40.716250,,-74.009106,,Hudson St & Reade St,,Hudson St & Reade St,1,In Service,False,39,POINT (981725.7239503184 200225.863801748)
11,,0,30,,150,,2018-02-20 11:28:40 AM,40.720874,,-73.980858,,E 2 St & Avenue C,,E 2 St & Avenue C,1,In Service,False,31,POINT (989556.0615834089 201910.8022852982)
12,,31,1,,151,,2018-02-20 11:28:39 AM,40.722104,,-73.997249,,Cleveland Pl & Spring St,,Cleveland Pl & Spring St,1,In Service,False,33,POINT (985012.5446468905 202358.4293712162)
13,,22,7,,152,,2018-02-20 11:31:04 AM,40.714740,,-74.009106,,Warren St & Church St,,Warren St & Church St,1,In Service,False,29,POINT (981725.5641854072 199675.6701459276)
14,,9,14,,157,,2018-02-20 11:29:12 AM,40.690893,,-73.996123,,Henry St & Atlantic Ave,,Henry St & Atlantic Ave,1,In Service,False,23,POINT (985325.028738052 190987.311705364)
15,,34,0,,161,,2018-02-20 11:29:24 AM,40.729170,,-73.998102,,LaGuardia Pl & W 3 St,,LaGuardia Pl & W 3 St,1,In Service,False,35,POINT (984775.9628196507 204932.9545571026)
16,,22,24,,164,,2018-02-20 11:30:48 AM,40.753231,,-73.970325,,E 47 St & 2 Ave,,E 47 St & 2 Ave,1,In Service,False,47,POINT (992471.6913760394 213700.4296134548)
17,,6,38,,167,,2018-02-20 11:28:02 AM,40.748901,,-73.976049,,E 39 St & 3 Ave,,E 39 St & 3 Ave,1,In Service,False,45,POINT (990886.3316149795 212122.247093652)
18,,45,0,,168,,2018-02-20 11:30:00 AM,40.739713,,-73.994564,,W 18 St & 6 Ave,,W 18 St & 6 Ave,1,In Service,False,47,POINT (985756.3868449081 208774.0542709137)
19,,12,38,,173,,2018-02-20 11:31:31 AM,40.760683,,-73.984527,,Broadway & W 49 St,,Broadway & W 49 St,1,In Service,False,51,POINT (988536.3806696547 216414.5279701727)
20,,1,29,,174,,2018-02-20 11:31:16 AM,40.738177,,-73.977387,,E 25 St & 1 Ave,,E 25 St & 1 Ave,1,In Service,False,30,POINT (990516.6660584905 208215.0171926057)
21,,18,27,,195,,2018-02-20 11:28:04 AM,40.709056,,-74.010434,,Liberty St & Broadway,,Liberty St & Broadway,1,In Service,False,45,POINT (981357.2947618697 197604.967062631)
22,,19,7,,212,,2018-02-20 11:31:33 AM,40.743349,,-74.006818,,W 16 St & The High Line,,W 16 St & The High Line,1,In Service,False,28,POINT (982360.8588185154 210098.9152547596)
23,,10,12,,216,,2018-02-20 11:30:55 AM,40.700379,,-73.995481,,Columbia Heights & Cranberry St,,Columbia Heights & Cranberry St,1,In Service,False,23,POINT (985503.1386279116 194443.3320134889)
24,,0,0,,217,,2018-02-09 08:49:17 AM,40.702772,,-73.993836,,Old Fulton St,,Old Fulton St,3,Not In Service,False,2,POINT (985959.0741029026 195315.1719141323)
25,,5,28,,223,,2018-02-20 11:29:56 AM,40.737815,,-73.999947,,W 13 St & 7 Ave,,W 13 St & 7 Ave,1,In Service,False,33,POINT (984264.7956262807 208082.5352398808)
26,,24,31,,228,,2018-02-20 11:28:49 AM,40.754601,,-73.971879,,E 48 St & 3 Ave,,E 48 St & 3 Ave,1,In Service,False,55,POINT (992041.0680657702 214199.4676623823)
27,,21,0,,229,,2018-02-20 11:29:25 AM,40.727434,,-73.993790,,Great Jones St,,Great Jones St,1,In Service,False,23,POINT (985971.136067108 204300.5237780721)
28,,1,21,,232,,2018-02-20 11:29:36 AM,40.695977,,-73.990149,,Cadman Plaza E & Tillary St,,Cadman Plaza E & Tillary St,1,In Service,False,23,POINT (986981.680449689 192839.7324420954)
29,,0,39,,236,,2018-02-20 11:30:36 AM,40.728419,,-73.987140,,St Marks Pl & 2 Ave,,St Marks Pl & 2 Ave,1,In Service,False,39,POINT (987814.4333672459 204659.3610184811)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
783,,1,21,,3625,,2018-02-20 11:29:11 AM,40.752576,,-73.936428,,28 St & 40 Ave,,28 St & 40 Ave,1,In Service,False,22,POINT (1001863.366169073 213466.7249954364)
784,,0,0,,3628,,1969-12-31 07:00:00 PM,40.802557,,-73.949078,,Coming Soon: Lenox Ave & W 117 St,,Coming Soon: Lenox Ave & W 117 St,3,Not In Service,False,0,POINT (998347.9173225384 231674.1216610379)
785,,22,10,,3629,,2018-02-20 11:30:18 AM,40.809495,,-73.947765,,Adam Clayton Powell Blvd & W 126 St,,Adam Clayton Powell Blvd & W 126 St,1,In Service,False,33,POINT (998709.9933259726 234202.3661690303)
786,,0,0,,3630,,1969-12-31 07:00:00 PM,40.803865,,-73.955931,,Coming Soon: Frederick Douglass Blvd & W 115 St,,Coming Soon: Frederick Douglass Blvd & W 115 St,3,Not In Service,False,0,POINT (996450.5060902653 232149.9347964355)
787,,4,23,,3631,,2018-02-20 11:29:39 AM,40.666563,,-73.956741,,Crown St & Bedford Ave,,Crown St & Bedford Ave,1,In Service,False,27,POINT (996250.9068352756 182126.2341534543)
788,,0,33,,3632,,2018-02-20 11:27:58 AM,40.728049,,-73.978812,,E 12 St & Avenue B,,E 12 St & Avenue B,1,In Service,False,33,POINT (990122.6922679136 204524.9966832282)
789,,2,38,,3635,,2018-02-20 11:28:55 AM,40.754623,,-73.995168,,W 36 St & 9 Ave,,W 36 St & 9 Ave,1,In Service,False,41,POINT (985588.8304040538 214206.3194960145)
790,,1,30,,3637,,2018-02-20 11:28:11 AM,40.683239,,-73.965996,,Fulton St & Waverly Ave,,Fulton St & Waverly Ave,1,In Service,False,31,POINT (993681.0531251264 188200.5193282779)
791,,14,4,,3638,,2018-02-20 11:29:40 AM,40.724294,,-74.035483,,Washington St,,Washington St,1,In Service,False,18,POINT (974414.9408303761 203158.4080368268)
792,,3,27,,3639,,2018-02-20 11:31:28 AM,40.719252,,-74.034234,,Harborside,,Harborside,1,In Service,False,30,POINT (974760.3095222107 201321.1689145829)
793,,3,15,,3640,,2018-02-20 11:28:29 AM,40.733670,,-74.062500,,Journal Square,,Journal Square,1,In Service,False,18,POINT (966928.7021517028 206578.527770047)
794,,51,1,,3641,,2018-02-20 11:30:36 AM,40.742869,,-73.989186,,Broadway & W 25 St,,Broadway & W 25 St,1,In Service,False,54,POINT (987246.5072421131 209923.9372304686)
795,,2,22,,3642,,2018-02-20 11:28:51 AM,40.787285,,-73.950123,,E 98 St & Lexington Ave,,E 98 St & Lexington Ave,1,In Service,False,24,POINT (998061.9402500548 226110.055129331)
796,,11,44,,3643,,2018-02-20 11:29:19 AM,40.752722,,-73.981236,,E 41 St & 5 Ave,,E 41 St & 5 Ave,1,In Service,False,55,POINT (989448.7220673489 213514.1609436496)
797,,17,6,,3644,,2018-02-20 11:30:52 AM,40.675816,,-74.014882,,Van Dyke St & Van Brunt St,,Van Dyke St & Van Brunt St,1,In Service,False,24,POINT (980122.0516570791 185494.8346404181)
798,,2,23,,3646,,2018-02-20 11:31:32 AM,40.763155,,-73.939855,,35 Ave & 10 St,,35 Ave & 10 St,1,In Service,False,26,POINT (1000911.228370526 217320.3354354134)
799,,12,11,,3647,,2018-02-20 11:29:35 AM,40.741283,,-73.937259,,48 Ave & 30 Pl,,48 Ave & 30 Pl,1,In Service,False,23,POINT (1001636.179602486 209352.2651814067)
800,,10,13,,3648,,2018-02-20 11:30:20 AM,40.697950,,-73.970776,,Flushing Ave & Vanderbilt Ave,,Flushing Ave & Vanderbilt Ave,1,In Service,False,25,POINT (992353.6136338996 193559.929864458)
801,,4,26,,3649,,2018-02-20 11:29:30 AM,40.814394,,-73.953247,,W 129 St & Convent Ave,,W 129 St & Convent Ave,1,In Service,False,30,POINT (997191.3635010964 235986.4216671567)
802,,0,19,,3653,,2018-02-20 11:28:39 AM,40.758205,,-73.928322,,31 St & 35 Ave,,31 St & 35 Ave,1,In Service,False,19,POINT (1004107.691792768 215519.2301035001)
803,,0,35,,3654,,2018-02-20 11:29:28 AM,40.751870,,-73.933493,,31 St & Northern Blvd,,31 St & Northern Blvd,1,In Service,False,35,POINT (1002676.794449477 213210.0061366847)
804,,0,31,,3656,,2018-02-20 11:28:30 AM,40.723077,,-73.985836,,E 2 St & Avenue A,,E 2 St & Avenue A,1,In Service,False,31,POINT (988175.9885107474 202713.4851785591)
805,,24,1,,3658,,2018-02-20 11:30:40 AM,40.743534,,-74.003676,,W 18 St & 9 Ave,,W 18 St & 9 Ave,1,In Service,False,27,POINT (983231.4976422871 210166.0395165557)
806,,22,1,,3659,,2018-02-20 11:28:23 AM,40.742949,,-74.004137,,W 17 St & 9 Ave,,W 17 St & 9 Ave,1,In Service,False,25,POINT (983103.6503884804 209952.9781649697)
807,,10,26,,3660,,2018-02-20 11:29:13 AM,40.741022,,-74.001385,,W 16 St & 8 Ave,,W 16 St & 8 Ave,1,In Service,False,39,POINT (983866.2096913268 209250.7382518516)
808,,7,12,,3661,,2018-02-20 11:30:17 AM,40.666439,,-73.960556,,Montgomery St & Franklin Ave,,Montgomery St & Franklin Ave,1,In Service,False,19,POINT (995192.4627268018 182080.6695978765)
809,,0,21,,3662,,2018-02-20 11:29:17 AM,40.761294,,-73.916917,,31 Ave & Steinway St,,31 Ave & Steinway St,1,In Service,False,21,POINT (1007266.181429797 216647.535658214)
810,,4,21,,3663,,2018-02-20 11:29:39 AM,40.677165,,-73.973828,,Sterling Pl & 7 Ave,,Sterling Pl & 7 Ave,1,In Service,False,25,POINT (991509.491009593 185986.9274302788)
811,,28,2,,3664,,2018-02-20 11:30:21 AM,40.720195,,-74.010301,,North Moore St & Greenwich St,,North Moore St & Greenwich St,1,In Service,False,30,POINT (981394.6962497386 201663.2336897716)
812,,0,0,,3666,,1969-12-31 07:00:00 PM,40.766426,,-73.920629,,Coming Soon: 32 St & 30 Ave,,Coming Soon: 32 St & 30 Ave,3,Not In Service,False,0,POINT (1006236.118588554 218516.2031063868)